@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:regular,italic');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

body {
  font-family: "IBM PLex Mono";
  font-size: 16px;
  line-height: 1.6;

  background-color: #ffffff;
  color: #2a2a2a;
  overflow-x: hidden;
}

h1 {
  font-family: 'Merriweather';
  font-size: 48px;
  line-height: 1.2;
}

nav {
  background-color: #00b98d;
  color: #ffffff;
  font-family: "Merriweather";
  font-size: 1.75rem;

  position: fixed;
  top: 0;
  left: 0;
  width: 16rem;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: .5rem 1.25rem;
}

main {
  background-color: #ffffff;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  transition: transform 0.5s;
}

main.open {
  transform: translate(240px, 0);
}

a.toggle {
  position: fixed;
  top: 0;
  left: 0;
  padding: 24px;
  text-decoration: none;
  color: #2a2a2a;
}

a.toggle img {
  margin: 0 5px 0 0;
  vertical-align: middle;
}